body {
    background: #9599BB;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin-right: 20px;
  }


  