body {
    background: #F0F1F4;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin-right: 20px;
  }

  header {
    width:100%;
    text-align:center;
  }

  img {
    display:inline-block;
    margin: 0 auto;
  }

  #home-search-box {
    align-items: center;
    background-color: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 8px;
    box-shadow: 0 8px 20px 0 rgba(0,0,0,.05);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
}

#home-search-box .home-search-box__input {
    background: transparent;
    border: none;
    font-family: Barlow;
    font-size: 18px;
    font-weight: 400;
    height: 100%;
    line-height: 19px;
    margin-left: 20px;
    outline: none;
    width: 100%;
}

.pages__home__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    min-height: 200px;
    background-color: #F0F1F4;
    color: #333333;
    font-family: Barlow, Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 40px 15px 250px;
}

#home-search-box .home-search-box__icon {
    background-image: src="../static/css/search-icon.svg";
    background-repeat: no-repeat;
    height: 26px;
    margin-left: 20px;
    width: 26px;
}

#submit_button {
    border: none;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    height: 50px;
    left: 30px;
}


  