<!doctype html>
<html lang="en">

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="Website Icon" type="png" href="../Pictures/books.png">
  </head>

  <body>
    <header>
      <nav>
        <ul class="sidebar">
          <li onclick="Sidebarclose()"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 -960 960 960" width="26"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
          <li><a href="index.html">Home</a></li>
          <li><a href="featured.html">Featured</a></li>
          <li><a href="data.html">Data</a></li>
          <li><a href="about.html">About</a></li>
        </ul>
      <ul class="menubar">
        <li><a href="index.html">Home</a></li>
        <li class="modilehide"><a href="featured.html">Featured</a></li>
        <li class="modilehide"><a href="data.html">Data</a></li>
        <li class="modilehide"><a href="about.html">About</a></li>
        <li onclick="Sidebaropen()"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 -960 960 960" width="26"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
      </ul>
    </nav>

    <div id="header">
        <img class="header-img" src="../images/about-the-project-header.svg"/>    
    </div>

<div class="about-info-container">
<h1> How we did it?</h1>

  <h2>Our Steps:</h2>
<ol type="1" class="project-steps">
  <li><b>Project Ideation:</b> Audrey, Bob, David, Lindsey, Christian, Clayton</li>
  <li><b>Data Fetching/Data Cleaning and Preparation:</b> Christian, Clayton</li>
  <li><b>Designing Visualizations:</b> Lindsey, Clayton</li>
  <li><b>Building the ML Model:</b> Bob, Lindsey, Christian</li>
  <li><b>Building User interface:</b> Audrey, David</li>
  <li><b>GitHub Documentation:</b> Audrey, Lindsey</li>
  <li><b>Group Presentation:</b> Audrey, Bob, David, Lindsey, Christian, Clayton</li>

<script src="../static/js/app.js"></script>