<!doctype html>
<html lang="en">

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
  </head>

  <body>
    <header>
      <nav>
        <ul class="menu-bar">
          <li class="menu"><a href="index.html">Home</a></li>
          <li class="menu"></li><a href="featured.html">Featured</a></li>
          <li class="menu"></li><a href="data.html">Data</a></li>
          <li class="menu"></li><a href="about.html">About</a></li>
            </ul>
      </nav>

    <div id="header">
        <img class="header-img" src="../images/about-the-project-header.svg"/>    
    </div>

<div class="about-info-container">
<h1> How we did it?</h1>

  <h2>Our Steps:</h2>
<ol type="1" class="project-steps">
    <li>Data clean in Pandas - Christian</li>
    <li>Data prep - Christian</li>
    <li>Data into SQL Database - Clayton</li>
    <li>Build model - Bob</li>
    <li>Train model - Lindsey</li>
    <li>Evaluate performance of model - Lindsey</li>
    <li>Optimization of model - Lindsey</li>
    <li>Tableau Visualizations - Clayton, David</li>
    <li>HTML/Javascript Dashboard - Audrey, David</li>
    <li>Documentation - Lindsey</li>

<script src="../static/js/app.js"></script>