<!doctype html>
<html lang="en">

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
  </head>

  <body>
    <header>
      <nav>
        <ul class="menu-bar">
          <li class="menu"><a href="index.html">Home</a></li>
          <li class="menu"></li><a href="featured.html">Featured</a></li>
          <li class="menu"></li><a href="data.html">Data</a></li>
          <li class="menu"></li><a href="about.html">About</a></li>
            </ul>
      </nav>
      <div id="header">
        <img class="header-img" src="../images/featured-books-header.svg"/>    
    </div>

    <div class="featured-books-container">
        <h2>Highest Number of Ratings:</h2>
        <p class="featured-content">
          <p>"Twilight (Twilight #1)" by Stephanie Meyer</p>
        <h2>Highest Average Rating:</h2>
        <p class="featured-content">
          <p>"The Diamond Color Meditation: Color Pathway to the Soul" by John Diamond</p>

<script src="../static/js/app.js"></script>