<!doctype html>
<html lang="en">

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="Website Icon" type="png" href="../Pictures/books.png">
  </head>

  <body>
    <header>
      <nav>
        <ul class="menu-bar">
          <li class="menu"><a href="index.html">Home</a></li>
          <li class="menu"></li><a href="featured.html">Featured</a></li>
          <li class="menu"></li><a href="data.html">Data</a></li>
          <li class="menu"></li><a href="about.html">About</a></li>
            </ul>
      </nav>
      <div id="header">
        <img class="header-img" src="../images/book-recommender-header.svg"/>    
    </div>

    </form>
    <p>Show recommendations from the same author?</p>

    <form action="/action_page.php">
      <input type="checkbox" id="yes" name="yes" value="yes">
      <label for="yes"> yes</label><br>
      <input type="checkbox" id="no" name="no" value="no">
      <label for="no"> no</label><br> 

    <div class="search-container"> 
    <div id="home-search-box">
    <div class="home-search-box__icon"></div>
    <input type="text" id="searchInput" onkeyup="dropdownFunction()" 
    placeholder = "Type the title of a book you'd like us to base your recommendations on">
    <input type="image" img src="../static/css/search-icon.svg" id="submit_button"/>
    </div>

    <ul id="bookOptions">
      <li><a href="#">Book 1</a></li>
      <li><a href="#">Book 2</a></li>
      <li><a href="#">Book 3</a></li>
      <li><a href="#">Book 4</a></li>
      <li><a href="#">Book 5</a></li>
      <li><a href="#">Book 6</a></li>
      <li><a href="#">Book 7</a></li>
    </ul>

  <div>
    <br>
  <div class="recommendations">
    <div class="recommendations-container">
      <h2 class="recommendations-title">Your Recommendations:</h2>
      <p class="recommendations-content">
        <p>Book recommendations will somehow go here?</p>
        <div class="rec-list-container">
          <ul class="rec-list">
            <li>Maybe?</li>
            <li>In a?</li>
            <li>List?</li>
          </ul>
        </div>
      </p>
    </div>
  </div>

  <script src="../static/js/app.js"></script>
